
assignment2/__pycache__/utils.cpython-38.pyc
Ansible/mrc/.vs/mrc/v16/.suo
Ansible/mrc/.vs/ProjectSettings.json
Ansible/mrc/.vs/VSWorkspaceState.json
Ansible/mrc/.vs/slnx.sqlite
assignment2/.idea/vcs.xml
assignment2/.vs/slnx.sqlite
assignment2/.idea/vcs.xml
deployment/mrc/.idea/misc.xml
assignment2/.idea/vcs.xml
assignment2/.vs/slnx.sqlite-journal
assignment2/.idea/vcs.xml
assignment2/.idea/vcs.xml
assignment2/.idea/vcs.xml
deployment/mrc/.idea/modules.xml
deployment/mrc/.idea/mrc.iml
deployment/mrc/.idea/vcs.xml
assignment2/.idea/vcs.xml
