<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

  <!-- <script type="text/javascript" src="../static/js/axios.min.js"></script> -->
<link rel="stylesheet" href="../static/css/comon0.css">
</head>
<script>
	$(window).load(function(){  
             $(".loading").fadeOut()
            })  
			
/****/
$(document).ready(function(){
	var whei=$(window).width()
	$("html").css({fontSize:whei/20})
	$(window).resize(function(){
		var whei=$(window).width()
	 $("html").css({fontSize:whei/20})
});
	});
</script>
<!-- <script type="text/javascript" src="../static/js/echarts.min.js"></script> -->
<script type="text/javascript" src="../static/js/echarts5.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-wordcloud.min.js"></script>
<script type="text/javascript" src="../static/js/vue.min.js"></script>
	<!-- <script language="JavaScript" src="../static/js/js.js"></script> -->
<body>
<div  id="app">
<div class="canvas" style="opacity: .2">
	<iframe frameborder="0" src="../static/js/index.html" style="width: 100%; height: 100%"></iframe>
	</div>
<div class="loading">
  <div class="loadbox"> <img src="../static/picture/loading.gif"> Loading... </div>
</div>
<div class="head">
  <h1>Tweet Analysis</h1>
  <div class="weather"><!--<img src="picture/weather.png"><span>多云转小雨</span>--><span id="showTime"></span></div>
	
	<script>
    var t = null;
    t = setTimeout(time,1000);//開始运行
    function time()
    {
      clearTimeout(t);//清除定时器
      dt = new Date();
      var y=dt.getFullYear();
      var mt=dt.getMonth()+1;
      var day=dt.getDate();
      var h=dt.getHours();//获取时
      var m=dt.getMinutes();//获取分
      var s=dt.getSeconds();//获取秒
      document.getElementById("showTime").innerHTML = "Date: "+y+"/"+mt+"/"+day+"-"+h+":"+m+":"+s;
      t = setTimeout(time,1000); //设定定时器，循环运行     
    } 

  </script>
</div>


<div class="mainbox"  >
  <ul class="clearfix">
    <li>
      <div class="boxall" style="height: 4.8rem">
        <!-- <div style="width:50%;"></div> -->
        <div class="alltitle">Regional Tweets: Time distribution</div>
        <div class="allnav" id="echart1"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 4.8rem">
        <!-- <div style="width:50%;"></div> -->
        <div class="alltitle">Regional Tweets: Language Distribution</div>
        <div class="allnav" id="echart2"></div>
        <div class="boxfoot"></div>
      </div>
      <!-- <div class="boxall" style="height: 3.2rem">
        <div style="height:100%; width: 100%;">
		  	<div class="sy" id="fb1"></div>
				<div class="sy" id="fb2"></div>
				<div class="sy" id="fb3"></div>
		  </div> -->
      <div class="boxfoot">
			
		  </div>

    </li>
    <li>
      <div class="bar">
        <div class="barbox">
          <ul class="clearfix">
            <li class="pulll_left counter" v-text="totalltweets">{{totalltweets}}</li>
          </ul>
        </div>
        <div class="barbox2">
          <ul class="clearfix">
            <li class="pulll_left">Total Tweets for This Month </li>
          </ul>
        </div>
      </div>
      <div class="map">
        <div class="map1"><img src="../static/picture/lbx.png"></div>
        <div class="map2"><img src="../static/picture/jt.png"></div>
        <!-- <div class="map3"><img src="../static/picture/map.png"></div> -->
        <div class="map4" id="map_1"></div>
      </div>
    </li>
    <li>
        <div class="boxall" style="height:4.8rem">
        <div class="alltitle">Sentiment Analysis</div>
        <div class="allnav" id="echart4"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 4.8rem">
        <div class="alltitle">Regional Top 30 Hashtags</div>
        <div class="allnav" id="echart5"></div>
        <div class="boxfoot"></div>
      </div>
      <!-- <div class="boxall" style="height: 3rem">
        <div class="alltitle">模块标题样式</div>
        <div class="allnav" id="echart6"></div>
        <div class="boxfoot"></div>
      </div> -->
    </li>
  </ul>
</div>
<div class="back"></div>
</div>

<script>
  var city_2018 = {}, city_2019 = {}, city_2020 = {}, city_2021 = {};
  var lang_data = [];
  var time_data = [];
  var sent_data = [];
  var hashtags_data = [];

  var year = ["2018","2019", "2020", "2021"];
  //geoCoordMap把所有可能出现的城市加到数组里面
  var geoCoordMap = {
      'adelaide': [138.6007, -34.9285],
      'brisbane': [153.0260, -27.4705],
      "canberra": [149.1300, -35.2809],
      "melbourne": [144.9631, -37.8136],
      "sydney": [151.2093, -33.8688],
  };
  var keys = Object.keys( geoCoordMap );
  // console.log(keys)

  var vue = new Vue({
    el:'#app',
    data:{
      totalltweets:0,
      city_tweets:0,
      city_lang:0,
      city_sentiment:0,
      city_time_dis:0,
      city_hashtags:0,
    },
    mounted (){
     this.get_cur_month_tweets()
     this.get_city_year_tweets()
     this.get_city_lang_distribution()
     this.get_city_sentiment()
     this.get_city_timedistribution()
     this.get_city_tophashtags()
    },
    methods:{
      get_cur_month_tweets:function(){
        var that =this;

        axios.get("/totaltweeters")
                .then(function (response) {
                  console.log(response);
                  that.totalltweets=response.data['number'];
                })
                .catch(function (error) {
                  console.log(error);
                });

      },
      get_city_year_tweets:function(){
        var that =this;

        axios.get("/tweetperyearcity")
                .then(function (response) {
                  console.log(response);
                  that.city_tweets=response.data;
                  city_2018['adelaide'] = that.city_tweets.adelaide['2018']
                  city_2018['brisbane'] =  that.city_tweets.brisbane['2018']
                  city_2018["canberra"] = that.city_tweets.canberra['2018']
                  city_2018["melbourne"] = that.city_tweets.melbourne['2018']
                  city_2018["sydney"] = that.city_tweets.sydney['2018']
                    //2019年数据
                  city_2019['adelaide'] = that.city_tweets.adelaide['2019']
                  city_2019['brisbane'] =  that.city_tweets.brisbane['2019']
                  city_2019["canberra"] = that.city_tweets.canberra['2019']
                  city_2019["melbourne"] = that.city_tweets.melbourne['2019']
                  city_2019["sydney"] = that.city_tweets.sydney['2019']
                    //2020年数据
                  city_2020['adelaide'] = that.city_tweets.adelaide['2020']
                  city_2020['brisbane'] =  that.city_tweets.brisbane['2020']
                  city_2020["canberra"] = that.city_tweets.canberra['2020']
                  city_2020["melbourne"] = that.city_tweets.melbourne['2020']
                  city_2020["sydney"] = that.city_tweets.sydney['2020']
                    //2021年数据
                  city_2021['adelaide'] = that.city_tweets.adelaide['2021']
                  city_2021['brisbane'] =  that.city_tweets.brisbane['2021']
                  city_2021["canberra"] = that.city_tweets.canberra['2021']
                  city_2021["melbourne"] = that.city_tweets.melbourne['2021']
                  city_2021["sydney"] = that.city_tweets.sydney['2021']
                  // console.log(this.city_tweets);
                })
                .catch(function (error) {
                  console.log(error);
                });

      },
      get_city_lang_distribution:function(){
        var that =this;

        axios.get("/languagedistribution")
                .then(function (response) {
                  console.log(response);
                  that.city_lang=response.data;
                  for (loc in geoCoordMap){
                    window[loc+'_lang'] = []
                    for (var lang in that.city_lang[loc]){
                        window[loc+'_lang'].push({"name": lang, "value": that.city_lang[loc][lang]})}                      
                    lang_data.push(window[loc+'_lang'])}
                  console.log(lang_data)
                })
                .catch(function (error) {
                  console.log(error);
                });

      },
      get_city_sentiment:function(){
        var that =this;

        axios.get("/sentiment")
                .then(function (response) {
                  console.log(response);
                  that.city_sentiment=response.data;
                  for (loc in geoCoordMap){
                    window[loc+'_sent'] = []
                    for (var sent in that.city_sentiment[loc]){
                        window[loc+'_sent'].push({"name": sent, "value": that.city_sentiment[loc][sent]})}                      
                    sent_data.push(window[loc+'_sent'])}
                })
                .catch(function (error) {
                  console.log(error);
                });

      },
      get_city_timedistribution(){
        var that =this;

        axios.get("/timedistribution")
                .then(function (response) {
                  console.log(response);
                  that.city_time_dis=response.data;
                  for (loc in geoCoordMap){
                    window[loc+'_time'] = []
                    for (var time in that.city_time_dis[loc]){
                        window[loc+'_time'].push({"name": time, "value": that.city_time_dis[loc][time]})}                      
                    time_data.push(window[loc+'_time'])}
                })
                .catch(function (error) {
                  console.log(error);
                });

      },
      get_city_tophashtags(){
        var that =this;

        axios.get("/tophashtags")
                .then(function (response) {
                  console.log(response);
                  that.city_hashtags=response.data;
                  for (loc in geoCoordMap){
                    window[loc+'_hashtags'] = []
                    for (var tags in that.city_hashtags[loc]){
                        window[loc+'_hashtags'].push({"name": tags, "value": that.city_hashtags[loc][tags]})}                      
                    hashtags_data.push(window[loc+'_hashtags'])}
                })
                .catch(function (error) {
                  console.log(error.response.data);
                });

      },
    }

  });

</script>
<script type="text/javascript" src="../static/js/mapData.js"></script>
<!-- <script type="text/javascript" src="../static/js/china.js"></script> -->
<script type="text/javascript" src="../static/js/australia.js"></script>
<!-- <script type="text/javascript" src="../static/js/area_echarts.js"></script> -->
<!-- <script type="text/javascript" src="../static/js/variables.js"></script> -->
<script type="text/javascript" src="../static/js/area_echarts_test.js"></script>
</body>
</html>
